bin
MSlibs
UnicodeDebug
UnicodeRelease
x64
Debug
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.db
*.opendb
.DS_Store
xcuserdata
ipch
.codelite
*.lic
.vs/
.vscode/
*.obj
CMakeFiles
build
.vscode
__pycache__
node_modules
tools/nodejs
